/*
	HTML Validator in CSS, 1.0
	MIT Licensed, by ProgramistaZpolski
*/

:not(html, base, head, link, meta, style, title, body, address, article, aside, footer,
header, h1, h2, h3, h4, h5, h6, main, nav, section, blockquote, dd, div, dl, dt, figcaption,
figure, hr, li, ol, p, pre, ul, a, abbr, b, bdi, bdo, br, cite, code, data, dfn, i, kbd, mark, q,
rb, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, sup, time, u, var, wbr, area, audio, img,
map, track, video, embed, iframe, object, param, picture, portal, source, svg, math, canvas, noscript,
script, del, ins, caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr, button, datalist, fieldset,
form, input, label, legend, meter, optgroup, option, output, progress, select, textarea, details, dialog, menu,
summary, slot, template), ul>*:not(li, script, template), ol>*:not(li, script, template), :not(footer)[id="footer"],
img:not([alt]), :not(main)[id="main"], :not(header)[id="header"], nav[role="navigation"], * h1:not(:first-of-type), 
* h2:not(:first-of-type), * h3:not(:first-of-type), * h4:not(:first-of-type), * h5:not(:first-of-type), * h6:not(:first-of-type),
span p, html:not([lang]), img[alt=""], img[alt="photo"], img[alt="image"], body style, [intrinsicsize], [manifest], [color], [background],
[bgcolor], [border], [color], [accept]:not(form, input), [accept-charset]:not(form), [action]:not(form), [noshade], [align], [frameborder],
[longdesc], [marginheight], [marginwidth], [scrolling], [allow]:not(iframe), [alt]:not(area, img, input), [async]:not(script), [autoplay]:not(audio, video),
[data]:not(object), [download]:not(a, area), button[onclick*="window.location"], [alink], [clear], [state], [compact], [target="_blank"]:not([rel="noopener noreferrer"]),
[xmlns], [autoplay="autoplay"], [disabled="disabled"], [autocomplete="autocomplete"], [autofocus="autofocus"], [challenge], [checked="checked"], 
[compact="compact"], [contenteditable="contenteditable"], [controls="controls"], [default="default"], [defer="defer"], 
[formnovalidate="formnovalidate"], [hidden="hidden"], [indeterminate="indeterminate"], [ismap="ismap"], [loop="loop"], [multiple="multiple"], 
[muted="muted"], [nohref="nohref"], [noresize="noresize"], [novalidate="novalidate"], [nowrap="nowrap"], [open="open"], [readonly="readonly"], 
[required="required"], [reversed="reversed"], [scoped="scoped"], [scrolling="scrolling"], [seamless="seamless"], [selected="selected"], 
[sortable="sortable"], [spellcheck="spellcheck"], [translate="translate"], [onkeypress] {
	border: 5px solid red !important;
	padding: 1rem !important;
	box-sizing: content-box !important;
}